 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Faculty+Glyphic&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    background: rgb(63,94,251); 
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-family:'Bebas', Faculty, Montserrat;
}
#form{
    width: 500px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    background: whitesmoke;
    border-radius: 10px;
    padding: 40px;
}
h1{
    text-align: center;
    color: brown;
    margin-bottom: 50px;
}

button{
    background-color: bisque;
    padding: 8px;
    margin-top: 30px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input-group input{
    margin-top: 20px;
    padding: 5px;
    border: 1px solid rgb(25, 223, 234);
    font-size: 16px;
    border-radius: 5px;
    
}
.input-group input:focus{
    outline: none;
}
.input-group .error{
    color: red;
    margin-top: 5px;
    font-size: 16px;
}
.input-group.success input{
    border-color: green;
}
.input-group.error input{
    border-color: red;
}